body {
	background-color: rgba(0, 0, 0, 0.3);
}
h2 {
	text-align: left;
	font-weight: bold;
	color: #16a085;
}

.partition {
	border-left: 2px solid #efefef;
	margin-left: 0px;
}

.col-md-3 {
	padding-left: 50px;
	margin-top: -10px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
}


.col-md-4 {
	font-size: 20px;
	margin-left: 0px;
}

.nav-pills {
	font-size: 20px;
}
div.col-md-3:nth-child(4) {
	    width: 280px;
    margin-left: 20px;
}

a.navbar-brand {
	margin-left: 20px;
	font-weight: 700;
}

.left{
	margin-left: -50px;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.reauth {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #title {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}


.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
